body {
    font-family: Outfit;
    color: white;
    text-align: center;

    background-image: url("background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
    height: 100%;
    overflow: hidden;
}

h1 {
    font-size: 60px;
}

.contentbox {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 20px;
    margin-top: 26px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: cyan;
}